body {
    margin-left: 280px;
    font-size: 16px;
    background: #FFFCF3;
}
@import url(http://weloveiconfonts.com/api/?family=entypo);
*{
-webkit-font-smoothing:antialiased;
color:inherit;
text-decoration:none;}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/*Main Colors*/
$color-alpha: #D4F7DC;
$color-beta: #eee;
$color-gamma:#95a5a6;
$color-delta:#34495e;
$color-epsilon:#2c3e50;
$color-zeta:#98C1A1;;
/* Change base color for each links*/
$color-alpha-2: #DBC092;
$color-zeta-2 : #ccb284;
$color-alpha-3: #DBE7B4;
$color-zeta-3 : #c5d19d; 
$color-alpha-4: #E0846D;
$color-zeta-4 : #d17058;
$color-alpha-5: #e74c3c;
$color-zeta-5 : #c0392b;


$shade-1:rgba(0,0,0,.05);

$time-1: .4s;
$time-2: ($time-1/1.54); 

#list{
    width:280px;
    box-sizing: content-box;
}
.link * {
    box-sizing: content-box;
}
.link{
    box-sizing: content-box;
    background:#AC4147;
    width:264px;
    height:60px;
    box-shadow:1em 0px  #9A2D33,inset 0 1px 0 $shade-1;
    cursor:pointer;
    display:block ;
    transition:box-shadow $time-1 ease,padding $time-2 ease;
}
.link a {
    color: #C76469;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}
.link:hover a {
    color: #fff;
}
.link span{
  display:block;
  width:70px;
  height:60px;
  background:#C76469;
  float:left;
  font-size:2.5em;
  line-height:1.5em;
  margin:-1.48em auto;  
  text-align:center;
  color:#9A2D33;
  position:relative;
  z-index:2;
  box-shadow:.5em 0px  #9A2D33,inset 0 1px 0 $shade-1;
  transform:rotate(0deg);
  transition:z-index 0s ease $time-2;
}
.link p:before{
  content:'';
  position:absolute;
  z-index:1;
  display:block;
  width:20px;
  height:20px;
  margin:1em -1.7em;
 background:$color-epsilon;
transform:rotate(-45deg);
  opacity:0;
}
.link p{
  font-size:1.4em;
  width:168px; 
  display:block;
  float:left;
  padding-left:5em;
  padding-top:0;
  margin:0;
  line-height:2.7;
  color:$color-beta;
  font-family:helvetica;
  transition: $time-1 ease;
}

.link:hover{
 background:$color-zeta;
  box-shadow:1em 0px  $color-alpha,inset 0 1px 0 $shade-1;
  padding-right:1em;
  span{
    color:$color-zeta;
   box-shadow:.5em 0px $color-alpha;
    z-index:0;
  }
  p{
    padding-left:6em;
    
    color:#ecf0f1;
    &:before{
      background:$color-alpha;
      margin:1em -2.7em;
        opacity:1
      }
   }
}


.link:nth-child(2):hover{
 background:$color-zeta-2;
  box-shadow:1em 0px  $color-alpha-2,inset 0 1px 0 $shade-1;
  span{
    color:$color-zeta-2;
   box-shadow:.5em 0px $color-alpha-2;
  }
  p:before{
      background:$color-alpha-2;
      }
}
.link:nth-child(3):hover{
 background:$color-zeta-3;
  box-shadow:1em 0px  $color-alpha-3,inset 0 1px 0 $shade-1;
  span{
    color:$color-zeta-3;
   box-shadow:.5em 0px $color-alpha-3;
  }
  p:before{
      background:$color-alpha-3;
      }
}
.link:nth-child(4):hover{
 background:$color-zeta-4;
  box-shadow:1em 0px  $color-alpha-4,inset 0 1px 0 $shade-1;
  span{
    color:$color-zeta-4;
   box-shadow:.5em 0px $color-alpha-4;
  }
  p:before{
      background:$color-alpha-4;
      }
}
.link:nth-child(5):hover{
 background:$color-zeta-5;
  box-shadow:1em 0px  $color-alpha-5,inset 0 1px 0 $shade-1;
  span{
    color:$color-zeta-5;
   box-shadow:.5em 0px $color-alpha-5;
  }
  p:before{
      background:$color-alpha-5;
      }
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.box-presentation, .btn-more {
    display: none ;
}
header {
    width: 280px;
    position: fixed;
    z-index: 999;
    background-color: #AC4147;
        box-shadow: inset -16px 0px 0px 0px rgb(154, 45, 51);
    left: 0;
    height: 100%;
}
.box-what-name {
    text-align: center;
}
.presentation {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.box-presentation {
    .type-presentation {
        font-family: 'Roboto Slab', serif;
        font-size: 1.5em;
        text-align: center;
    }
}