html {
    background-color: #F5F5F5;
    min-height: 100%;
}
body {
    margin-left: 86px;
    font-size: 16px;
    font-family: $fuente-principal;
    line-height: 1.8em;
    background-color: #f5f5f5;
}

h1, h2, h3 {
    font-family: $fuente-secundaria;
}

.prueba {
    height: 100%;
}

@import url(http://weloveiconfonts.com/api/?family=entypo);
*{
-webkit-font-smoothing:antialiased;
color:inherit;
text-decoration:none;}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.home {
    background-image: url(../images/fondo-banner1.jpg);
    background-size: cover;
    min-height: 100%;
}
.box-burger {
    padding: 25px;
}
.burger {
    width: 33px;
    cursor: pointer;
    position: absolute;
    right: 35px;
    top: 10px;
}

.burger-brick {
  height: 4px;
  background: #E5EAFA;
  margin-top: 6px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.open .burger-brick:first-child {
  -webkit-transform: rotate(405deg);
  -moz-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  -o-transform: rotate(405deg);
  transform: rotate(405deg);
  margin-top: 14px;
}

.open .burger-brick:last-child {
  -webkit-transform: rotate(-405deg);
  -moz-transform: rotate(-405deg);
  -ms-transform: rotate(-405deg);
  -o-transform: rotate(-405deg);
  transform: rotate(-405deg);
  margin-top: -14px;
}

.open .middle {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
body.cerrado {
    margin-left: 280px;
    .box-burger {
        padding-bottom: 35px;
    }
    .burger {
        right: 35px;
    }
}


#list{
    width:280px;
    box-sizing: content-box;
}
.link * {
    box-sizing: content-box;
}
.link{
    box-sizing: content-box;
    background:#428CA9;
    width:264px;
    height:60px;
    box-shadow:1em 0px  #2D689A,inset 0 1px 0 $shade-1;
    cursor:pointer;
    display:block ;
    transition:box-shadow $time-1 ease,padding $time-2 ease;
}
.link a {
    color: #E5EAFA;
    padding: 0 !important;
    
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}
.link:hover a {
    color: #fff;
}
.link span{
  display:block;
  width:70px;
  height:60px;
  float:left;
  font-size:2.5em;
  line-height:1.5em;
  margin:-1.48em auto;  
  text-align:center;
  color:#E5EAFA;
  position:relative;
  z-index:2;
  transform:rotate(0deg);
  transition:z-index 0s ease $time-2;
}
.link p{
  font-size:1.4em;
  width:168px; 
  display:block;
  float:left;
  padding-left:3.5em;
  padding-top:0;
  margin:0;
  line-height:2.7;
  font-weight:300;
  transition: $time-1 ease;
}

.link:hover{
 background:$color-zeta;
  box-shadow:1em 0px  $color-alpha,inset 0 1px 0 $shade-1;
  padding-right:1em;
  span{
    z-index:0;
  }
  p{
    padding-left:6em;
    
    color:#ecf0f1;
    &:before{
      background:$color-alpha;
      margin:1em -2.7em;
        opacity:1
      }
   }
}


.link:nth-child(2):hover{
 background:$color-zeta-2;
  box-shadow:1em 0px  $color-alpha-2,inset 0 1px 0 $shade-1;

}
.link:nth-child(3):hover{
 background:$color-zeta-3;
  box-shadow:1em 0px  $color-alpha-3,inset 0 1px 0 $shade-1;

}
.link:nth-child(4):hover{
 background:$color-zeta-4;
  box-shadow:1em 0px  $color-alpha-4,inset 0 1px 0 $shade-1;

}
.link:nth-child(5):hover{
 background:$color-zeta-5;
  box-shadow:1em 0px  $color-alpha-5,inset 0 1px 0 $shade-1;
}

#typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


header {
    width: 86px;
    position: fixed;
    overflow: hidden;

    z-index: 999;
    background-color: #428CA9;
        box-shadow: inset -16px 0px 0px 0px #2D689A;
    left: 0;
    height: 100%;
        -webkit-transition-delay: .2s;
    transition-delay: .2s;
    -webkit-transition-property: left,opacity;
    transition-property: left,opacity;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    .link {
        span {
              box-shadow:.5em 0px  #2D689A,inset 0 1px 0 $shade-1;
        }
    }
}
header.abierto {
     width: 280px;
    overflow: visible;
    .logo {
        
        padding: 15px 50px 30px 30px;
    }
    .link {
        span {
              box-shadow:none;
        }
    }
    
}
.logo {
    padding: 10px 25px 10px 10px;
    img {
        width: 100%;
    }
}
.form-name {
    position: relative;
}
.box-what-name {
    text-align: center;
    padding: 15px;
    
}
.presentation {
    font-family: $fuente-principal;
    font-weight: 300;
    line-height: 1.4em;
    font-size: 1.4em;
    h4 {
        font-family: $fuente-principal;
        font-size: 1.2em;
    }
}

.btn-more, .box-present {
    display: block;
    margin: 40px 10px;
    font-size: 1.2em;
    padding: 10px 20px;
    border: 2px solid #2D689A;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.49);
    font-weight: 300;
    font-family: $fuente-principal;
}

.btn-more:hover {
    background-color: #2D689A;
    border: 2px solid #2D689A;
}

.box-present {
    width: 500px;
    text-align: center;
}
.box-presentation {
    font-family: 'Inconsolata' ;
    font-size: 1.4em;
    padding: 60px 40px 40px 40px;
    line-height: 35px;
    background-color: #2d2d2d;
    color: #fff;
    border-radius: 4px;
    position: relative;
    max-width: 600px;
    margin: auto;
    small {
        font-size: 80%;
    }
    .circles {
        position: absolute;
        top: 3px;
        left: 15px;
        > * {
            display:inline-block;
            width: 15px;
            height: 15px;
            border-radius: 100%;
        }
        .red {
            background-color: #e26b63;
        }
        .yellow {
            background-color: #dfdd64;
        }
        .green{
            background-color: #72c75f;
        }
    }
    .var {
        color: #66d9ef;
        font-style: italic;
    }
    .equal {
        color: #f92672;
    }
    .string {
        color: #e6db74;
    }
    .code-header {
        height: 40px;
        width: 100%;
        background-color: #424242;
        position: absolute;
        top:0;
        left: 0;
        border-radius: 4px 4px 0px 0px
    }
}
.typed-present {
    font-size: 2em;
}
.titulo {
    margin-bottom: 40px;
    color: #fff;
    strong {
        font-weight: 600;
        display: block;
        font-size: 50px;
    }
    text-align: center;
    font-family: $fuente-secundaria;
    font-weight: 300;
    font-size: 25px;
}
.image-me {
    text-align: center;
    img {
        margin: auto;
    }
}
.cabecera-titulo {
    height: 200px;
    background-size: cover;
    margin-bottom: 30px;
    .box-titulo {
        position: relative;
        height: 200px;
    }
    h1 {
        margin-top: 0;
        position: absolute;
        bottom: 0;
        color: #fff;
        font-weight: 700;
        font-size: 3.2em;
    }
}
.about, .website {
    .cabecera-titulo {
        background-image: url(../images/back-about.jpg);
    }
}
.buttons {
    text-align: center;
}
.buttons a {
    display: inline-block;
}
.portfolio {
    .cabecera-titulo {
        background-image: url(../images/back-portfolio.jpg)
    }
}

.contact-me {
    .cabecera-titulo {
        background-image: url(../images/back-contact.jpg)
    }
}
.website {
    p {
        font-size: 25px;
        font-weight: 300;
        padding: 20px 0;
        line-height: 35px;
    }
}
.lista-tecno {
    li {
        font-weight: 300;
        font-size: 25px;
        a {
            color: #333;
        }
        img {
            width: 100px;
            display: inline-block;
            padding: 10px;
        }
    }
}

.about-me {
    strong {
        font-weight: 400;
    }
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.skillbar {
  font-family: 'Open Sans', 'sans-serif';
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background:#428CA9;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#428CA9;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}