@media (min-width: 768px) {
    .container {
        width: 665px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 890px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 990px;
    }
}

@media (max-width: 1199px) {
    body.cerrado {
        margin-left: 86px;
    }
    header {
        width: 86px;
        overflow: hidden;
        .logo {
            padding: 10px 25px 10px 10px;
        }
        .link span {
              box-shadow:.5em 0px  #2D689A,inset 0 1px 0 $shade-1;
        }
        &.abierto {
            width: 280px;
            overflow: visible;
            .logo {
                padding: 20px 40px 20px 20px;
            }
            .link span {
                  box-shadow: none;
            }
        }
    }
}
