.contact-me(data-ng-controller="contactCrtl")
    .cabecera-titulo
        .container
            .row
                .col-xs-12.box-titulo
                    h1 {{ 'CONTACTME' | translate }}
            .row
                .col-xs-12.col-sm-6
                    h2 {{ 'CONTACTINFORMATION' | translate }}
                    ul.ul-information
                        li
                            span.glyphicon.glyphicon-envelope
                            | hola@marcelagotta.com
                        li
                            span.glyphicon.glyphicon-phone-alt
                            | +34 684 141 301
                .col-xs-12.col-sm-6
                    h2 {{ 'CONTACTFORM' | translate }}
                    #contact_form
                      .wrap
                        .form
                          .success
                            | Thanks! 
                            br
                            | Your message has been send!
                            br
                          p.description {{nombre}} {{ 'IFYOU' | translate }}
                          p.status
                          form.clearfix(method='post')
                            .row
                              label {{ 'NAME' | translate }}
                              input.input(type='text', name='name', placeholder="{{ 'WRITEYOUR' | translate }} {{ 'NAME' | translate }}" value="{{nombre}}")
                            .row
                              label {{ 'EMAIL' | translate }}
                              input(type='text', name='email', placeholder="{{ 'WRITEYOUR' | translate }} {{ 'EMAIL' | translate }}")
                            .row
                              label {{ 'MESSAGE' | translate }}
                              textarea(name='message', placeholder="{{ 'YOURMESSAGE' | translate }}")
                            .row
                              input.transition.submit(type='submit', value="{{ 'SEND' | translate }}")
                      .clear