main.home(data-ng-controller="homeCrtl")
    div.container
        section.row
            .col-xs-12
                h1.titulo 
                    strong Marcela Gotta 
                    span.typed-present
        section.row
            //.col-xs-12
                figure.image-me
                    img(src="images/me-img.png").img-responsive
            .col-xs-12
                .box-presentation
                    .code-header
                    .circles
                        .red
                        .yellow
                        .green
                    div.type-presentation
                        .triangle
                        p 
                            span.var var 
                            span.variable {{ 'WELCOME' | translate }}
                            span.equal = 
                            span.string "{{ 'HI' | translate }}, 
                                strong {{nombre}}
                                |  {{ 'MEWELCOME' | translate }}".
                    small.ilove
                        p 
                        span.var var 
                        | {{ 'ILOVE' | translate }}
                        span.equal = 
                        | [
                        span.string {{ 'ILOVEARRAY' | translate }}
                        | ]
            
            .col-xs-12.buttons
                a(href="#/about" type="button" class="btn btn-success btn-more") {{ 'ABOUTITTLE' | translate }}
                a(href="#/portfolio" type="button" class="btn btn-success btn-more") {{ 'PORTFOLIOTITTLE' | translate }}
script(type="text/ng-template" id="content1")
                

    form(role='form').form-name.form-inline.form-send
        .presentation
            h4 {{ 'NOTE' | translate }}
            p {{ 'BETTEREXPERIENCE' | translate }}
        .box-what-name
            input(type="text" data-ng-model="$root.nombre" title="Please, write your name" placeholder="{{ 'WRITEYOUR' | translate }} {{ 'NAME' | translate }} :)" required='').form-control.nombre
            input(type="submit" class="btn btn-success btn-send" data-ng-click="confirm(1)" value="{{ 'SEND' | translate }}") 
            button(type="button" class="btn btn-default btn-skip" data-ng-click="closeThisDialog('Some value')") {{ 'CANCEL' | translate }}