main(data-ng-controller="homeCrtl")
    div.container
        section.row
            .col-xs-12
                h1.titulo 
                    span Marcela Gotta 
                    | Front-End Developer
            div.col-xs-12
                figure.image-me
                    img(src="images/me-img.png")
                .box-what-name
                    div.presentation
                        p Hi, I want to know more about you :)
                        p What is your name?
                    span
                    form.form-inline.form-send
                        input(type="text" ng-model="$root.nombre" title="Please, write your name" placeholder="Your Name Here :)" required='').form-control.nombre
                        input(type="submit" class="btn btn-success btn-send" value="Send") 
                        button(type="button" class="btn btn-default btn-skip") Skip
                .box-presentation
                    div.type-presentation
                        p Thanks 
                            strong {{nombre}}
                        p I'm Marcela Gotta.
                        p Front-End Developer since 2008
                    .box-present
                        span.typed-present
                    button(type="button" class="btn btn-success btn-more") ¿Quieres Saber más de mi?