main.home(data-ng-controller="homeCrtl")
    div.container
        section.row
            .col-xs-12
                h1.titulo 
                    strong Marcela Gotta 
                    span.typed-present
        section.row
            //.col-xs-12
                figure.image-me
                    img(src="images/me-img.png").img-responsive
            .col-xs-12
                .box-presentation
                    .code-header
                    .circles
                        .red
                        .yellow
                        .green
                    div.type-presentation
                        .triangle
                        p 
                            span.var var 
                            span.variable welcome 
                            span.equal = 
                            span.string "Hi, 
                                strong {{nombre}}
                                |  I'm freelance front-end developer, with 7+ year of professional experience working in various web related roles. I currently live in Madrid".
                    small.ilove
                        p 
                        span.var var 
                        | iLove 
                        span.equal = 
                        | [
                        span.string 'Front-End Development', 'Videogames', 'Books'
                        | ]
            
            .col-xs-12.buttons
                a(href="#/about" type="button" class="btn btn-success btn-more") About me
                a(href="#/portfolio" type="button" class="btn btn-success btn-more") My portfolio
script(type="text/ng-template" id="content1")
                




    form(role='form').form-name.form-inline.form-send
        .presentation
            h4 Note
            p For a better user experience Please write your name, or some nickname to refer to you
        .box-what-name
            input(type="text" ng-model="$root.nombre" title="Please, write your name" placeholder="Your Name Here :)" required='').form-control.nombre
            input(type="submit" class="btn btn-success btn-send" ng-click="confirm(1)" value="Send") 
            button(type="button" class="btn btn-default btn-skip" ng-click="closeThisDialog('Some value')") Cancel