<!DOCTYPE html>
html(lang="en" data-ng-app="appMG")
    head
        meta(charset="UTF-8")
        title Front-End Developer - Marcela Gotta
        link(type="text/css" rel="stylesheet" href="css/general.min.css")
        link(type="text/css" rel="stylesheet" href="css/styles.min.css")
    body(data-ng-controller="mainCrtl" ng-class="{'cerrado': isActive}")
        ng-include( src=" 'inc/header.html' ")
        div(ng-view='')
        ng-include( src=" 'inc/footer.html' ")    
    script(src="/js/scripts.min.js")
    
