<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        link(type="text/css" rel="stylesheet" href="css/general.min.css")
        link(type="text/css" rel="stylesheet" href="css/styles.min.css")
    body
        header
            a(href="#")
                figure.logo
                    img(src="img/logo.png" alt="Marcela Gotta")
            nav.menu-principal
                ul.nav-pills.nav.nav-stacked
                    li.active
                        a(href="#") Home
                    li
                        a(href="#") About Me
                    li
                        a(href="#") My Portfolio
                    li
                        a(href="#") Contact Me
        main
            div.container
                section.row
                    div.col-xs-12
                        P.dialog-welcome
                
        
    script(src="js/scripts.min.js")
