main.portfolio(data-ng-controller="last-works")
    .cabecera-titulo
        .container
            .row
                .col-xs-12.box-titulo
                    h1 {{ 'PORTFOLIOTITTLE' | translate }}
    .container        
        section.row
            .col-xs-12
                h2 {{ 'LASTWORK' | translate }}
            .col-xs-12
                #galeria-works
        section.row
            .col-xs-12
                h2 {{ 'MYLAB' | translate }}
            .col-xs-6
                iframe(height='268', scrolling='no', src='//codepen.io/MarcelaGotta/embed/zxrQZZ/?height=268&theme-id=10569&default-tab=result', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')
                  | See the Pen 
                  a(href='http://codepen.io/MarcelaGotta/pen/zxrQZZ/') Animación Pendulo de Newton
                  |  by Marcela Gotta (
                  a(href='http://codepen.io/MarcelaGotta') @MarcelaGotta
                  | ) on 
                  a(href='http://codepen.io') CodePen
                  | .
            .col-xs-6
                iframe(height='268', scrolling='no', src='//codepen.io/MarcelaGotta/embed/OPMoLj/?height=268&theme-id=10569&default-tab=result', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')
                  | See the Pen 
                  a(href='http://codepen.io/MarcelaGotta/pen/zxrQZZ/') Animación Pendulo de Newton
                  |  by Marcela Gotta (
                  a(href='http://codepen.io/MarcelaGotta') @MarcelaGotta
                  | ) on 
                  a(href='http://codepen.io') CodePen
                  | .
