main.portfolio(data-ng-controller="last-works")
    .cabecera-titulo
        .container
            .row
                .col-xs-12.box-titulo
                    h1 My Portfolio
    .container
        section.row
            .col-xs-12
                h2 My Lab
        section.row
            .col-xs-12
                h2 Lastest Works
            .col-xs-12
                #galeria-works