footer
    .container
        .row
            .col-xs-6
                small Marcela Gotta © Copyright 2008 - 2015
            .col-xs-6
                aside.social
                    ul.list-unstyled.list-inline
                        li
                            a(href="http://github.com/marcelagotta")
                                i.fa.fa-github
                        li
                            a(href="http://codepen.com/marcelagotta")
                                i.fa.fa-codepen
                        li
                            a(href="http://facebook.com/marcegotta")
                                i.fa.fa-facebook-official
                        li
                            a(href="http://twitter.com/marcelagotta")
                                i.fa.fa-twitter
                        