header
    a(href="#")
        figure.logo
            img(src="img/logo.png" alt="Marcela Gotta")
    nav.menu-principal
        ul#list.nav
            li.link.active
                p
                    a(href="/#/") Home
                span.entypo-home
            li.link
                p
                    a(href="/#/about") About Me
                span.entypo-user
            li.link
                p
                    a(href="/#/portfolio") My Portfolio
                span.entypo-suitcase
            li.link
                p
                    a(href="/#/contact") Contact Me
                span.entypo-mail