header(ng-class="{'abierto': isActive}")
    .box-burger( ng-click="activeButton()")
        .burger(ng-class="{'open': isOpen}")
            .burger-brick
            .burger-brick.middle
            .burger-brick
    a(href="#/")
        figure.logo
            img(src="images/logo.png" alt="Marcela Gotta")
    nav.menu-principal
        ul#list.nav
            li.link.active
                a(href="/#/")
                    p Home
                    span.entypo-home
            li.link
                a(href="/#/about")
                    p About Me
                    span.entypo-user
            li.link
                a(href="/#/portfolio")
                    p My Portfolio
                    span.entypo-suitcase
            li.link
                a(href="/#/contact")
                    p Contact Me
                    span.entypo-mail
            li.link
                a(href="/#/website")
                    p This Website
                    span.entypo-code