.box-burger( data-ng-click="activeButton()")
    .burger(data-ng-class="{'open': isOpen}")
        .burger-brick
        .burger-brick.middle
        .burger-brick
.lang-box
    input#s4(type='checkbox'  data-ng-click="checked()")
    label.slider-v2(for='s4')
header(data-ng-class="{'abierto': isActive}")
    a(href="#/")
        figure.logo
            img(src="images/logo.png" alt="Marcela Gotta")
    nav.menu-principal
        ul#list.nav
            li.link.active
                a(href="/#/")
                    p Home
                    span.entypo-home
            li.link
                a(href="/#/about")
                    p About Me
                    span.entypo-user
            li.link
                a(href="/#/portfolio")
                    p My Portfolio
                    span.entypo-suitcase
            li.link
                a(href="/#/contact")
                    p Contact Me
                    span.entypo-mail
            li.link
                a(href="/#/website")
                    p This Website
                    span.entypo-code